<nav class="contenedor-nav">
  <ul class="nav-lista">
    <li class="lista-item item-usuario" activeclass="activo">{{nombre}}</li>
    <li class="lista-item" activeclass="activo"><a href="/admin/plantel">Plantel</a></li>
    <li class="lista-item" activeclass="activo"><a href="/admin/novedades">Novedades</a></li>
    <li class="lista-item item-sesion" activeclass="activo"><a href="/admin/login/logout">Cerrar Sesión<i class="fa-solid fa-right-from-bracket icono-sesion"></i></a></li>
  </ul>
</nav>
<main class="contenedor-principal">
  <h2 class="titulo-seccion">Editar Novedad</h2>
  <form class="contenedor-formulario" action="/admin/novedades/editar" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{novedad.id_novedad}}" />
    <div class="contenedor-secundario">
      <label class="formulario-label formulario-label-1" for="titulo">Título</label>
      <input class="formulario-input input-editar" name="titulo" value="{{novedad.titulo}}" type="text" id="titulo" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="imagen">Imagen</label>
      <input class="formulario-input formulario-archivo" type="file" name="imagen" id="imagen" />
    </div>
      <input type="checkbox" name="img_delete" value="1" id="img_delete" />
      <span>Eliminar imagen actual.</span>
      <input type="hidden" name="img_original" value="{{novedad.id_img_novedad}}" />
    <div class="contenedor-secundario">
      <label class="formulario-label" for="subtitulo">Subtítulo</label>
      <input class="formulario-input input-editar" name="subtitulo" value="{{novedad.subtitulo}}" type="text" id="subtitulo" />
    </div>
    <div class="contenedor-secundario">
      <label class="formulario-label" for="cuerpo">Cuerpo</label>
      <textarea class="formulario-textarea" name="cuerpo" id="cuerpo">{{novedad.cuerpo}}</textarea>
    </div>
    <button class="formulario-boton" type="submit">Editar</button>
  </form>
  {{#if error}}
    <p class="mensaje-error">{{message}}</p>
  {{/if}}
</main>